# Ignore everything in the folder
*

# Allow specific files to be tracked
!.gitignore
!README.md
!LICENSE
!ai_transcribe.sh
!combine_frames.sh
!prepend_dates_on_folders.sh
!rename_with_date_difference.py
!cp_template.sh
rn_with_date_difference.sh
!videopre.sh
!youtube_HLG.sh





